
:root{
    --primaria: #c57d56;
    --secundaria: #8d4925;
} 

body, p, a, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li {
    list-style-type: none;
}

body{
    background: var( --primaria );
    overflow-x: hidden;
    font-size: 20px;
}
.nomes{
    background: #b67552;
    border: 2px solid #503d33;
    padding: 10px 20px;
    border-radius: 20px;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6)
}
.foto{
    background-color: #e7caba;
    border: 2px solid #503d33;
    padding: 10px 20px;
    border-radius: 20px;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6)
}
.button{
    background: none;
    border: 2px solid;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    display: inline-block;
}
.button:hover{
    color: #8d4925;
}

h1, h2, h3, h4{
    color: #320000; 
    font-weight: normal;
}
p, a, li{
    color: #320000;
}
h1, h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}

.leading{
    font-size: 1.1em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.site-nav{
    margin: 0 20px;
}
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid;
}

#welcome{
    padding: 0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-img{
    grid-column: 6/9;
}
.welcome-text img{
    width: 200%;
}
.welcome-text a{
    margin: 20px 0;
}

.projects a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
}
.projects a *{
    margin: 0 20px;
    max-width: 40%;
    align-self: center;
}
.projects h4{
    color: #320000;
}

.corsim{
    background-color: #e6c0aa;
}
@media screen and (max-width: 620px){
    .welcome-text{
        grid-column: 1/5;
    }
    .welcome-img{
        grid-column: 5/9;
    }
    .welcome-img img{
        width: 100%;
    }
    .projects a{
        grid-column: span 4;
        display: block;
        margin: 20px 0;
    }
 
    
} 